name: "CI"
on:
  push:
    branches:
      - main
    paths:
      - pyprobe/**
      - tests/**
      - pyproject.toml
      - .github/workflows/ci-push.yml
      - uv.lock
  workflow_dispatch:
permissions:
  contents: read
  checks: write
jobs:
  test:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.8"
          enable-cache: true
          python-version: "3.12"
          
      - name: Run tests with frozen dependencies
        run: uv run --all-extras --frozen --isolated pytest --cov --cov-report=xml -n auto
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}



