name: "CI for Pull Requests"
on:
  pull_request:
    branches:
      - main
    paths:
      - pyprobe/**
      - tests/**
      - docs/source/examples/*ipynb
      - pyproject.toml
      - .github/workflows/ci-pull-request.yml
      - uv.lock
  workflow_dispatch:
permissions:
  contents: read
  checks: write
jobs:
  # Matrix job for pull requests
  test-matrix:
    if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.20"
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          
      - name: Run tests with frozen dependencies
        run: uv run --all-extras --frozen --isolated pytest --cov --cov-report=xml -n auto
      
      - name: Upload coverage reports to Codecov
        if: matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          
      - name: Test notebooks
        shell: bash
        run: |
          shopt -s extglob
          uv run --all-extras --frozen --isolated pytest --nbmake docs/source/examples/!(comparing-pyprobe-performance).ipynb
      
      - name: Test upgraded dependencies
        run: uv run --extra dev --upgrade --isolated pytest -n auto

      - name: Build and test distribution installation (Linux/macOS)
        if: runner.os == 'Linux' || runner.os == 'macOS'
        run: |
          uv sync --all-extras --frozen
          uv build
          uv venv
          WHEEL_FILE=$(ls dist/*.whl | head -n 1)
          uv pip install ${WHEEL_FILE}[hvplot,seaborn,dev,docs,pybamm]
          uv run --no-sync pytest -n auto

      - name: Build and test distribution installation (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          uv sync --all-extras --frozen
          uv build
          uv venv
          $wheelFile = Get-ChildItem dist/*.whl | Select-Object -First 1 | ForEach-Object { $_.FullName }
          $wheel = $wheelFile + "[hvplot,seaborn,dev,docs,pybamm]"
          uv pip install $wheel
          uv run --no-sync pytest -n auto
