name: "Create Release Candidate"

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  create-rc:
    if: github.event.pull_request.merged == true && !startsWith(github.head_ref, 'release-candidates/')
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Fetch all history
          fetch-tags: true  # Fetch all tags
          ref: main  # Correct branch reference

      - name: Install uv & dependencies
        uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.9.16"

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install project
        run: |
          uv sync --all-extras

      - name: Bump version
        id: bump
        run: |
          uv run semantic-release version --no-commit --no-tag --skip-build
          VERSION=$(python -c "import tomllib; print(tomllib.load(open('pyproject.toml', 'rb'))['project']['version'])")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Update uv lockfile
        run: uv lock --upgrade-package pyprobe-data

      - name: Open Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: release-candidates/rc-${{ steps.bump.outputs.version }}
          title: "Release Candidate ${{ steps.bump.outputs.version }}"
          commit-message: "chore: release candidate ${{ steps.bump.outputs.version }}"
          base: main
          body: "This PR is the release candidate for version ${{ steps.bump.outputs.version }}."